name: Run Terraform

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: "us-east-1"
  
jobs:
  terraform:
    defaults:
      run:
        working-directory: ./neolm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Run Terraform Init
        run: terraform init
        #working-directory: ./dynamics
      - name: Run Terraform Plan - BamBam
        run: terraform plan
      #  run: terraform plan -var-file myvarfile.tfvars 
        #working-directory: ./dynamics
      # - name: Run Terraform Apply
      #   run: terraform apply -auto-approve
      
      # - name: Time
      #   run: sleep 1000

        #working-directory: ./dynamics
      # - name: Run Terraform Destroy
      #   run: terraform destroy -auto-approve
